In [3]:
import pandas as pd

In [4]:
data_list = ["jan.csv", "feb.csv", "mar.csv", "apr.csv", "may.csv", "jun.csv", "jul.csv", "aug.csv", "sep.csv",
             "oct.csv", "nov.csv", "dec.csv"]

In [6]:
list_ = []
for file_ in data_list:
    df = pd.read_csv(file_,index_col=None, header=0)
    list_.append(df)
frame = pd.concat(list_)

In [7]:
frame.head()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,UNIQUE_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,...,DEP_TIME,DEP_DELAY,TAXI_OUT,TAXI_IN,ARR_TIME,ARR_DELAY,CANCELLED,AIR_TIME,DISTANCE,Unnamed: 29
0,2016,1,1,1,5,2016-01-01,DL,11433,1143302,31295,...,1935.0,0.0,23.0,13.0,2120.0,-24.0,0.0,249.0,1979.0,NaN
1,2016,1,1,1,5,2016-01-01,DL,10397,1039705,30397,...,2130.0,5.0,13.0,4.0,2319.0,-2.0,0.0,92.0,640.0,NaN
2,2016,1,1,1,5,2016-01-01,DL,12892,1289203,32575,...,2256.0,1.0,19.0,5.0,547.0,-13.0,0.0,207.0,1947.0,NaN
3,2016,1,1,1,5,2016-01-01,DL,14869,1486903,34614,...,1700.0,4.0,12.0,8.0,2213.0,-16.0,0.0,173.0,1590.0,NaN
4,2016,1,1,1,5,2016-01-01,DL,10849,1084903,30849,...,1012.0,72.0,63.0,4.0,1420.0,124.0,0.0,121.0,874.0,NaN

In [8]:
frame.columns

Index([u'YEAR', u'QUARTER', u'MONTH', u'DAY_OF_MONTH', u'DAY_OF_WEEK',
       u'FL_DATE', u'UNIQUE_CARRIER', u'ORIGIN_AIRPORT_ID',
       u'ORIGIN_AIRPORT_SEQ_ID', u'ORIGIN_CITY_MARKET_ID', u'ORIGIN',
       u'ORIGIN_CITY_NAME', u'ORIGIN_STATE_ABR', u'ORIGIN_STATE_NM',
       u'DEST_AIRPORT_ID', u'DEST_AIRPORT_SEQ_ID', u'DEST_CITY_MARKET_ID',
       u'DEST', u'DEST_CITY_NAME', u'DEST_STATE_NM', u'DEP_TIME', u'DEP_DELAY',
       u'TAXI_OUT', u'TAXI_IN', u'ARR_TIME', u'ARR_DELAY', u'CANCELLED',
       u'AIR_TIME', u'DISTANCE', u'Unnamed: 29'],
      dtype='object')

In [19]:
frame.iloc[1, :]

YEAR                                 2016
QUARTER                                 1
MONTH                                   1
DAY_OF_MONTH                            1
DAY_OF_WEEK                             5
FL_DATE                        2016-01-01
UNIQUE_CARRIER                         DL
ORIGIN_AIRPORT_ID                   10397
ORIGIN_AIRPORT_SEQ_ID             1039705
ORIGIN_CITY_MARKET_ID               30397
ORIGIN                                ATL
ORIGIN_CITY_NAME              Atlanta, GA
ORIGIN_STATE_ABR                       GA
ORIGIN_STATE_NM                   Georgia
DEST_AIRPORT_ID                     11986
DEST_AIRPORT_SEQ_ID               1198603
DEST_CITY_MARKET_ID                 31986
DEST                                  GRR
DEST_CITY_NAME           Grand Rapids, MI
DEST_STATE_NM                    Michigan
DEP_TIME                             2130
DEP_DELAY                               5
TAXI_OUT                               13
TAXI_IN                                 4
ARR_TIME                             2319
ARR_DELAY                              -2
CANCELLED                               0
AIR_TIME                               92
DISTANCE                              640
Unnamed: 29                           NaN
Name: 1, dtype: object

In [10]:
frame.shape

(5617658, 30)

In [17]:
frame.drop(['Unnamed: 29'], inplace=True)

In [20]:
del frame['Unnamed: 29']

In [23]:
frame.columns

Index([u'YEAR', u'QUARTER', u'MONTH', u'DAY_OF_MONTH', u'DAY_OF_WEEK',
       u'FL_DATE', u'UNIQUE_CARRIER', u'ORIGIN_AIRPORT_ID',
       u'ORIGIN_AIRPORT_SEQ_ID', u'ORIGIN_CITY_MARKET_ID', u'ORIGIN',
       u'ORIGIN_CITY_NAME', u'ORIGIN_STATE_ABR', u'ORIGIN_STATE_NM',
       u'DEST_AIRPORT_ID', u'DEST_AIRPORT_SEQ_ID', u'DEST_CITY_MARKET_ID',
       u'DEST', u'DEST_CITY_NAME', u'DEST_STATE_NM', u'DEP_TIME', u'DEP_DELAY',
       u'TAXI_OUT', u'TAXI_IN', u'ARR_TIME', u'ARR_DELAY', u'CANCELLED',
       u'AIR_TIME', u'DISTANCE'],
      dtype='object')

In [24]:
frame = frame[frame.notnull()]

In [25]:
frame.shape

(5617658, 29)

In [26]:
df = frame.dropna(how='any')

In [27]:
df.shape

(5538145, 29)

In [29]:
df.describe()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,DEST_AIRPORT_ID,DEST_AIRPORT_SEQ_ID,DEST_CITY_MARKET_ID,DEP_TIME,DEP_DELAY,TAXI_OUT,TAXI_IN,ARR_TIME,ARR_DELAY,CANCELLED,AIR_TIME,DISTANCE
count,5538145.0,5.538145e+06,5.538145e+06,5.538145e+06,5.538145e+06,5.538145e+06,5.538145e+06,5.538145e+06,5.538145e+06,5.538145e+06,5.538145e+06,5.538145e+06,5.538145e+06,5.538145e+06,5.538145e+06,5.538145e+06,5.538145e+06,5538145.0,5.538145e+06,5.538145e+06
mean,2016.0,2.514304e+00,6.544774e+00,1.576496e+01,3.932326e+00,1.268110e+04,1.268113e+06,3.171762e+04,1.268156e+04,1.268159e+06,3.171844e+04,1.333439e+03,8.873761e+00,1.618508e+01,7.448903e+00,1.471441e+03,3.519290e+00,0.0,1.165268e+02,8.512796e+02
std,0.0,1.105311e+00,3.397190e+00,8.795537e+00,1.985352e+00,1.535525e+03,1.535522e+05,1.281668e+03,1.535788e+03,1.535785e+05,1.281953e+03,5.025490e+02,3.959866e+01,8.815603e+00,5.681893e+00,5.343024e+02,4.187332e+01,0.0,7.352773e+01,6.200882e+02
min,2016.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.013500e+04,1.013503e+06,3.007000e+04,1.013500e+04,1.013503e+06,3.007000e+04,1.000000e+00,-2.040000e+02,1.000000e+00,1.000000e+00,1.000000e+00,-1.520000e+02,0.0,4.000000e+00,2.800000e+01
25%,2016.0,2.000000e+00,4.000000e+00,8.000000e+00,2.000000e+00,1.129200e+04,1.129202e+06,3.059900e+04,1.129200e+04,1.129202e+06,3.059900e+04,9.170000e+02,-5.000000e+00,1.100000e+01,4.000000e+00,1.052000e+03,-1.400000e+01,0.0,6.200000e+01,3.910000e+02
50%,2016.0,3.000000e+00,7.000000e+00,1.600000e+01,4.000000e+00,1.288900e+04,1.288903e+06,3.145300e+04,1.288900e+04,1.288903e+06,3.145300e+04,1.328000e+03,-2.000000e+00,1.400000e+01,6.000000e+00,1.511000e+03,-6.000000e+00,0.0,9.700000e+01,6.790000e+02
75%,2016.0,3.000000e+00,9.000000e+00,2.300000e+01,6.000000e+00,1.405700e+04,1.405702e+06,3.246700e+04,1.405700e+04,1.405702e+06,3.246700e+04,1.742000e+03,6.000000e+00,1.900000e+01,9.000000e+00,1.918000e+03,6.000000e+00,0.0,1.480000e+02,1.096000e+03
max,2016.0,4.000000e+00,1.200000e+01,3.100000e+01,7.000000e+00,1.621800e+04,1.621801e+06,3.599100e+04,1.621800e+04,1.621801e+06,3.599100e+04,2.400000e+03,2.149000e+03,1.860000e+02,2.500000e+02,2.400000e+03,2.142000e+03,0.0,7.230000e+02,4.983000e+03

In [32]:
df.columns

Index([u'YEAR', u'QUARTER', u'MONTH', u'DAY_OF_MONTH', u'DAY_OF_WEEK',
       u'FL_DATE', u'UNIQUE_CARRIER', u'ORIGIN_AIRPORT_ID',
       u'ORIGIN_AIRPORT_SEQ_ID', u'ORIGIN_CITY_MARKET_ID', u'ORIGIN',
       u'ORIGIN_CITY_NAME', u'ORIGIN_STATE_ABR', u'ORIGIN_STATE_NM',
       u'DEST_AIRPORT_ID', u'DEST_AIRPORT_SEQ_ID', u'DEST_CITY_MARKET_ID',
       u'DEST', u'DEST_CITY_NAME', u'DEST_STATE_NM', u'DEP_TIME', u'DEP_DELAY',
       u'TAXI_OUT', u'TAXI_IN', u'ARR_TIME', u'ARR_DELAY', u'CANCELLED',
       u'AIR_TIME', u'DISTANCE'],
      dtype='object')

In [33]:
df_subset = df[['UNIQUE_CARRIER', 'MONTH', 'DAY_OF_WEEK', 'DISTANCE', 'AIR_TIME', 'DEP_DELAY', 'ARR_DELAY', 'TAXI_IN', 'TAXI_OUT', ]]

In [34]:
df_subset.shape

(5538145, 9)

In [35]:
grouped = df_subset.groupby(['UNIQUE_CARRIER', 'MONTH', 'DAY_OF_WEEK'])

In [36]:
summary = grouped.agg({'DISTANCE' : 'mean', 'AIR_TIME' : 'mean', 'DEP_DELAY' : 'mean','ARR_DELAY' : 'mean',
                      'TAXI_IN' : 'mean', 'TAXI_OUT' : 'mean', 'UNIQUE_CARRIER' : 'count'})

In [37]:
summary.head()

                                     DISTANCE  DEP_DELAY    AIR_TIME  \
UNIQUE_CARRIER MONTH DAY_OF_WEEK
AA             1     1            1003.794574   9.247348  135.546614
                     2             962.655139   4.855161  131.939908
                     3             962.186572   3.574568  131.807106
                     4             977.815826   5.548975  133.805085
                     5            1005.221199   6.764771  136.787930

                                  UNIQUE_CARRIER   TAXI_IN  ARR_DELAY  \
UNIQUE_CARRIER MONTH DAY_OF_WEEK
AA             1     1                      9804  8.791820   3.647695
                     2                      9369  8.421283  -0.256698
                     3                      9964  8.510739  -1.030309
                     4                     10148  8.631553   0.752365
                     5                     11831  8.800440   2.294988

                                   TAXI_OUT
UNIQUE_CARRIER MONTH DAY_OF_WEEK
AA             1     1            18.006324
                     2            18.035756
                     3            18.397230
                     4            17.990343
                     5            18.288057

In [38]:
summary.shape

(1008, 7)

In [43]:
summary = summary.rename(index=str, columns={"UNIQUE_CARRIER": "NUMBER_OF_FLIGHTS"})

In [45]:
summary = summary.reset_index()

In [47]:
summary = summary.rename(index=str, columns = {"UNIQUE_CARRIER" : "CARRIER"})

In [48]:
summary.head()

,CARRIER,MONTH,DAY_OF_WEEK,DISTANCE,DEP_DELAY,AIR_TIME,NUMBER_OF_FLIGHTS,TAXI_IN,ARR_DELAY,TAXI_OUT
0,AA,1,1,1003.794574,9.247348,135.546614,9804,8.791820,3.647695,18.006324
1,AA,1,2,962.655139,4.855161,131.939908,9369,8.421283,-0.256698,18.035756
2,AA,1,3,962.186572,3.574568,131.807106,9964,8.510739,-1.030309,18.397230
3,AA,1,4,977.815826,5.548975,133.805085,10148,8.631553,0.752365,17.990343
4,AA,1,5,1005.221199,6.764771,136.787930,11831,8.800440,2.294988,18.288057

In [49]:
carriers = pd.read_csv("L_UNIQUE_CARRIERS.csv")

In [50]:
carriers.head()

  Code                    Description
0  02Q                  Titan Airways
1  04Q             Tradewind Aviation
2  05Q            Comlux Aviation, AG
3  06Q  Master Top Linhas Aereas Ltd.
4  07Q            Flair Airlines Ltd.

In [52]:
merged_df = summary.merge(carriers, left_on='CARRIER', right_on = "Code")

In [54]:
merged_df.head()

,CARRIER,MONTH,DAY_OF_WEEK,DISTANCE,DEP_DELAY,AIR_TIME,NUMBER_OF_FLIGHTS,TAXI_IN,ARR_DELAY,TAXI_OUT,Code,Description
0,AA,1,1,1003.794574,9.247348,135.546614,9804,8.791820,3.647695,18.006324,AA,American Airlines Inc.
1,AA,1,2,962.655139,4.855161,131.939908,9369,8.421283,-0.256698,18.035756,AA,American Airlines Inc.
2,AA,1,3,962.186572,3.574568,131.807106,9964,8.510739,-1.030309,18.397230,AA,American Airlines Inc.
3,AA,1,4,977.815826,5.548975,133.805085,10148,8.631553,0.752365,17.990343,AA,American Airlines Inc.
4,AA,1,5,1005.221199,6.764771,136.787930,11831,8.800440,2.294988,18.288057,AA,American Airlines Inc.

In [55]:
del merged_df['CARRIER']

In [58]:
merged_df = merged_df.rename(index=str, columns = {"Description" : "CARRIER"})

In [60]:
merged_df.columns

Index([u'MONTH', u'DAY_OF_WEEK', u'DISTANCE', u'DEP_DELAY', u'AIR_TIME',
       u'NUMBER_OF_FLIGHTS', u'TAXI_IN', u'ARR_DELAY', u'TAXI_OUT', u'Code',
       u'CARRIER'],
      dtype='object')

In [61]:
merged_df = merged_df[[u'Code', u'CARRIER', u'MONTH', u'DAY_OF_WEEK', u'DISTANCE', u'DEP_DELAY', u'AIR_TIME',
       u'NUMBER_OF_FLIGHTS', u'TAXI_IN', u'ARR_DELAY', u'TAXI_OUT'
       ]]

In [72]:
merged_df = merged_df.round()

In [73]:
merged_df.to_csv('flights_parcoords.csv', index=False)

In [ ]:
me