In [79]:
import pandas as pd

In [80]:
data_list = ["jan.csv", "feb.csv", "mar.csv", "apr.csv", "may.csv", "jun.csv", "jul.csv", "aug.csv", "sep.csv",
             "oct.csv", "nov.csv", "dec.csv"]

In [81]:
list_ = []
for file_ in data_list:
    df = pd.read_csv(file_,index_col=None, header=0)
    list_.append(df)
frame = pd.concat(list_)

In [82]:
frame.head()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,UNIQUE_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,...,DEP_TIME,DEP_DELAY,TAXI_OUT,TAXI_IN,ARR_TIME,ARR_DELAY,CANCELLED,AIR_TIME,DISTANCE,Unnamed: 29
0,2016,1,1,1,5,2016-01-01,DL,11433,1143302,31295,...,1935.0,0.0,23.0,13.0,2120.0,-24.0,0.0,249.0,1979.0,NaN
1,2016,1,1,1,5,2016-01-01,DL,10397,1039705,30397,...,2130.0,5.0,13.0,4.0,2319.0,-2.0,0.0,92.0,640.0,NaN
2,2016,1,1,1,5,2016-01-01,DL,12892,1289203,32575,...,2256.0,1.0,19.0,5.0,547.0,-13.0,0.0,207.0,1947.0,NaN
3,2016,1,1,1,5,2016-01-01,DL,14869,1486903,34614,...,1700.0,4.0,12.0,8.0,2213.0,-16.0,0.0,173.0,1590.0,NaN
4,2016,1,1,1,5,2016-01-01,DL,10849,1084903,30849,...,1012.0,72.0,63.0,4.0,1420.0,124.0,0.0,121.0,874.0,NaN

In [83]:
frame.columns

Index([u'YEAR', u'QUARTER', u'MONTH', u'DAY_OF_MONTH', u'DAY_OF_WEEK',
       u'FL_DATE', u'UNIQUE_CARRIER', u'ORIGIN_AIRPORT_ID',
       u'ORIGIN_AIRPORT_SEQ_ID', u'ORIGIN_CITY_MARKET_ID', u'ORIGIN',
       u'ORIGIN_CITY_NAME', u'ORIGIN_STATE_ABR', u'ORIGIN_STATE_NM',
       u'DEST_AIRPORT_ID', u'DEST_AIRPORT_SEQ_ID', u'DEST_CITY_MARKET_ID',
       u'DEST', u'DEST_CITY_NAME', u'DEST_STATE_NM', u'DEP_TIME', u'DEP_DELAY',
       u'TAXI_OUT', u'TAXI_IN', u'ARR_TIME', u'ARR_DELAY', u'CANCELLED',
       u'AIR_TIME', u'DISTANCE', u'Unnamed: 29'],
      dtype='object')

In [84]:
frame.iloc[1, :]

YEAR                                 2016
QUARTER                                 1
MONTH                                   1
DAY_OF_MONTH                            1
DAY_OF_WEEK                             5
FL_DATE                        2016-01-01
UNIQUE_CARRIER                         DL
ORIGIN_AIRPORT_ID                   10397
ORIGIN_AIRPORT_SEQ_ID             1039705
ORIGIN_CITY_MARKET_ID               30397
ORIGIN                                ATL
ORIGIN_CITY_NAME              Atlanta, GA
ORIGIN_STATE_ABR                       GA
ORIGIN_STATE_NM                   Georgia
DEST_AIRPORT_ID                     11986
DEST_AIRPORT_SEQ_ID               1198603
DEST_CITY_MARKET_ID                 31986
DEST                                  GRR
DEST_CITY_NAME           Grand Rapids, MI
DEST_STATE_NM                    Michigan
DEP_TIME                             2130
DEP_DELAY                               5
TAXI_OUT                               13
TAXI_IN                                 4
ARR_TIME                             2319
ARR_DELAY                              -2
CANCELLED                               0
AIR_TIME                               92
DISTANCE                              640
Unnamed: 29                           NaN
Name: 1, dtype: object

In [85]:
frame.shape

(5617658, 30)

In [86]:
frame.drop(['Unnamed: 29'], inplace=True)

In [87]:
del frame['Unnamed: 29']

In [88]:
frame.columns

Index([u'YEAR', u'QUARTER', u'MONTH', u'DAY_OF_MONTH', u'DAY_OF_WEEK',
       u'FL_DATE', u'UNIQUE_CARRIER', u'ORIGIN_AIRPORT_ID',
       u'ORIGIN_AIRPORT_SEQ_ID', u'ORIGIN_CITY_MARKET_ID', u'ORIGIN',
       u'ORIGIN_CITY_NAME', u'ORIGIN_STATE_ABR', u'ORIGIN_STATE_NM',
       u'DEST_AIRPORT_ID', u'DEST_AIRPORT_SEQ_ID', u'DEST_CITY_MARKET_ID',
       u'DEST', u'DEST_CITY_NAME', u'DEST_STATE_NM', u'DEP_TIME', u'DEP_DELAY',
       u'TAXI_OUT', u'TAXI_IN', u'ARR_TIME', u'ARR_DELAY', u'CANCELLED',
       u'AIR_TIME', u'DISTANCE'],
      dtype='object')

In [89]:
frame = frame[frame.notnull()]

In [90]:
frame.shape

(5617658, 29)

In [91]:
df = frame.dropna(how='any')

In [92]:
df.shape

(5538145, 29)

In [93]:
df['ARR_DELAY'].describe()

count    5.538145e+06
mean     3.519290e+00
std      4.187332e+01
min     -1.520000e+02
25%     -1.400000e+01
50%     -6.000000e+00
75%      6.000000e+00
max      2.142000e+03
Name: ARR_DELAY, dtype: float64

In [136]:
df['ARR_DELAY'] + df['DEP_DELAY']

0         -24.0
1           3.0
2         -12.0
3         -12.0
4         196.0
5         166.0
6         160.0
7           4.0
8         -16.0
9         -15.0
10        -35.0
11        -21.0
12        -12.0
13        -25.0
14          2.0
15        -23.0
16          3.0
17        -26.0
18        -13.0
19        -24.0
20          5.0
21        -23.0
22        -32.0
23        -17.0
24        -11.0
25          7.0
26          5.0
27        -19.0
28        -33.0
29          9.0
          ...
460919    -22.0
460920    -21.0
460921    -46.0
460922    -20.0
460923    -16.0
460924    -18.0
460925      0.0
460926      2.0
460927     -8.0
460928     -3.0
460929    -13.0
460930    -37.0
460931    -16.0
460932    -31.0
460933    -21.0
460934    -18.0
460935     67.0
460936    -21.0
460937    -13.0
460938    -17.0
460939    -19.0
460940     -3.0
460941    -42.0
460942      3.0
460943     -6.0
460944     14.0
460945     -6.0
460946    -28.0
460947    103.0
460948      2.0
dtype: float64

In [137]:
df.loc[:,('Five_Min_Delay')] = (df['ARR_DELAY'] + df['DEP_DELAY']).apply(lambda x: 1 if x > 0 else 0)

In [138]:
df['Five_Min_Delay'].describe()

count    5.538145e+06
mean     3.477569e-01
std      4.762584e-01
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      1.000000e+00
max      1.000000e+00
Name: Five_Min_Delay, dtype: float64

In [139]:
check = df.groupby(['ORIGIN_STATE_NM']).agg({'Five_Min_Delay' : 'mean', 'FL_DATE' : 'count'})

In [140]:
check

                                                Five_Min_Delay  FL_DATE
ORIGIN_STATE_NM
Alabama                                               0.270018    24765
Alaska                                                0.228346    35674
Arizona                                               0.366317   177483
Arkansas                                              0.258548    15939
California                                            0.401020   717627
Colorado                                              0.359103   243735
Connecticut                                           0.288954    20062
Florida                                               0.353770   440880
Georgia                                               0.319900   395327
Hawaii                                                0.283962   100383
Idaho                                                 0.262752    20860
Illinois                                              0.395623   334086
Indiana                                               0.302052    38543
Iowa                                                  0.284043    12051
Kansas                                                0.239900     8762
Kentucky                                              0.294774    30810
Louisiana                                             0.307757    65750
Maine                                                 0.299601     6759
Maryland                                              0.362537    94382
Massachusetts                                         0.343199   121058
Michigan                                              0.291567   149794
Minnesota                                             0.314931   134547
Mississippi                                           0.240794    10835
Missouri                                              0.351210   101065
Montana                                               0.204723    16940
Nebraska                                              0.271732    21006
Nevada                                                0.400733   163665
New Hampshire                                         0.234418     6578
New Jersey                                            0.383244   118204
New Mexico                                            0.356373    20978
New York                                              0.351353   246578
North Carolina                                        0.344586   159049
North Dakota                                          0.230571    12430
Ohio                                                  0.297629    67910
Oklahoma                                              0.269457    30387
Oregon                                                0.313840    67595
Pennsylvania                                          0.320572   106023
Puerto Rico                                           0.339147    29241
Rhode Island                                          0.276500    12434
South Carolina                                        0.294567    31290
South Dakota                                          0.274214     7826
Tennessee                                             0.335529    78637
Texas                                                 0.368373   570539
U.S. Pacific Trust Territories and Possessions        0.331967      488
U.S. Virgin Islands                                   0.275220     6017
Utah                                                  0.292351   110754
Vermont                                               0.311551     3887
Virginia                                              0.314391   141709
Washington                                            0.339210   146104
West Virginia                                         0.344177     2490
Wisconsin                                             0.264393    49710
Wyoming                                               0.241205     8499

In [141]:
grouped = df.groupby(['ORIGIN', 'ORIGIN_CITY_NAME', 'ORIGIN_STATE_ABR', 'ORIGIN_STATE_NM'])

In [142]:
summary = grouped.agg({'Five_Min_Delay' : 'mean', 'FL_DATE' : 'count'})

In [143]:
summary = summary.rename(index=str, columns={"Five_Min_Delay": "PCT_5MIN_DELAY", "FL_DATE" : "COUNT"})

In [144]:
summary = summary.reset_index()

In [145]:
summary.head()

,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,PCT_5MIN_DELAY,COUNT
0,ABE,"Allentown/Bethlehem/Easton, PA",PA,Pennsylvania,0.299182,2323
1,ABI,"Abilene, TX",TX,Texas,0.496815,157
2,ABQ,"Albuquerque, NM",NM,New Mexico,0.359640,18766
3,ABR,"Aberdeen, SD",SD,South Dakota,0.293315,733
4,ABY,"Albany, GA",GA,Georgia,0.246246,999

In [146]:
summary['tot_delay'] = summary['PCT_5MIN_DELAY']* summary['COUNT']

In [147]:
flights_2016 = summary

In [148]:
flights_2016.describe()

       PCT_5MIN_DELAY          COUNT      tot_delay
count      311.000000     311.000000     311.000000
mean         0.290824   17807.540193    6192.694534
std          0.089756   42564.119217   15590.513028
min          0.000000       1.000000       0.000000
25%          0.241208     938.000000     236.500000
50%          0.283929    2549.000000     683.000000
75%          0.324431    9837.000000    2826.500000
max          1.000000  381303.000000  122308.000000

In [149]:
lat_long = pd.read_csv('lat_long.csv')
lat_long = lat_long.loc[lat_long['AIRPORT_IS_LATEST'] == 1]

In [150]:
merged_df = flights_2016.merge(lat_long, left_on='ORIGIN', right_on = "AIRPORT")

In [151]:
summary.shape

(311, 7)

In [152]:
statesdata = merged_df.groupby('ORIGIN_STATE_NM')

In [153]:
statesdata = statesdata.agg(({'tot_delay' : 'sum', 'COUNT' : 'sum'}))

In [154]:
statesdata['pct_delay'] = statesdata['tot_delay']*1.0/statesdata['COUNT']

In [155]:
statesdata = statesdata.reset_index()

In [156]:
states = pd.read_csv('original_states.csv')

In [157]:
common_states = list(set(statesdata['ORIGIN_STATE_NM'].unique()) & set(states['state'].unique()))

In [158]:
statesdata = statesdata.loc[statesdata['ORIGIN_STATE_NM'].isin(common_states)].round(2)

In [159]:
statesdata.head()

  ORIGIN_STATE_NM   COUNT  tot_delay  pct_delay
0         Alabama   24765     6687.0       0.27
1          Alaska   35674     8146.0       0.23
2         Arizona  177483    65015.0       0.37
3        Arkansas   15939     4121.0       0.26
4      California  717627   287783.0       0.40

In [160]:
statesdata[['PCT_5MIN_DELAY']] = statesdata[['pct_delay']] * 100

In [161]:
statesdata.head()

  ORIGIN_STATE_NM   COUNT  tot_delay  pct_delay  PCT_5MIN_DELAY
0         Alabama   24765     6687.0       0.27            27.0
1          Alaska   35674     8146.0       0.23            23.0
2         Arizona  177483    65015.0       0.37            37.0
3        Arkansas   15939     4121.0       0.26            26.0
4      California  717627   287783.0       0.40            40.0

In [162]:
statesdata = statesdata[['ORIGIN_STATE_NM', 'PCT_5MIN_DELAY']].rename(index=str, columns={"ORIGIN_STATE_NM": "state", "PCT_5MIN_DELAY": "value"})

In [163]:
statesdata.to_csv('statesdata.csv', index=False)

In [164]:
airportsdata = merged_df.groupby(['ORIGIN_CITY_NAME', 'ORIGIN_STATE_NM'])
airportsdata = airportsdata.agg(({'tot_delay' : 'sum', 'COUNT' : 'sum', 'LATITUDE' :'mean', 'LONGITUDE' : 'mean'}))
airportsdata['avg_delay'] = airportsdata['tot_delay']*1.0/airportsdata['COUNT']
airportsdata = airportsdata.reset_index()

In [165]:
airportsdata.head()

,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,COUNT,LATITUDE,tot_delay,LONGITUDE,avg_delay
0,"Aberdeen, SD",South Dakota,733,45.446667,215.0,-98.422500,0.293315
1,"Abilene, TX",Texas,157,32.411389,78.0,-99.681944,0.496815
2,"Adak Island, AK",Alaska,101,51.883611,38.0,-176.642500,0.376238
3,"Aguadilla, PR",Puerto Rico,1826,18.494722,695.0,-67.129444,0.380613
4,"Akron, OH",Ohio,5217,40.915000,1469.0,-81.443611,0.281579

In [166]:
airportsdata = airportsdata.loc[airportsdata['ORIGIN_STATE_NM'].isin(common_states)].round(2)

In [167]:
airportsdata[['PCT_5MIN_DELAY']] = airportsdata[['avg_delay']] * 100

In [168]:
airportsdata = airportsdata[['ORIGIN_CITY_NAME', 'LATITUDE', 'LONGITUDE', 'PCT_5MIN_DELAY', 'COUNT']].rename(index=str, columns={"ORIGIN_CITY_NAME": "city", "PCT_5MIN_DELAY": "delay", "LONGITUDE" : 'lon', "LATITUDE" : "lat", 'COUNT' : "number"})

In [169]:
airportsdata['city'] = airportsdata['city'].apply(lambda x: x.split(",")[0])

In [170]:
airportsdata.to_csv('airportsdata.csv', index=False)

In [171]:
airportsdata.head()

          city    lat     lon  delay  number
0     Aberdeen  45.45  -98.42   29.0     733
1      Abilene  32.41  -99.68   50.0     157
2  Adak Island  51.88 -176.64   38.0     101
4        Akron  40.92  -81.44   28.0    5217
5       Albany  31.54  -84.19   25.0     999

In [127]:
del merged_df['CARRIER']

KeyError: 'CARRIER'

In [128]:
merged_df = merged_df.rename(index=str, columns = {"Description" : "CARRIER"})

In [129]:
merged_df.columns

Index([u'ORIGIN', u'ORIGIN_CITY_NAME', u'ORIGIN_STATE_ABR', u'ORIGIN_STATE_NM',
       u'PCT_5MIN_DELAY', u'COUNT', u'tot_delay', u'AIRPORT_SEQ_ID',
       u'AIRPORT_ID', u'AIRPORT', u'DISPLAY_AIRPORT_NAME',
       u'DISPLAY_AIRPORT_CITY_NAME_FULL', u'AIRPORT_WAC',
       u'AIRPORT_COUNTRY_NAME', u'AIRPORT_COUNTRY_CODE_ISO',
       u'AIRPORT_STATE_NAME', u'AIRPORT_STATE_CODE', u'AIRPORT_STATE_FIPS',
       u'CITY_MARKET_ID', u'DISPLAY_CITY_MARKET_NAME_FULL', u'CITY_MARKET_WAC',
       u'LAT_DEGREES', u'LAT_HEMISPHERE', u'LAT_MINUTES', u'LAT_SECONDS',
       u'LATITUDE', u'LON_DEGREES', u'LON_HEMISPHERE', u'LON_MINUTES',
       u'LON_SECONDS', u'LONGITUDE', u'AIRPORT_START_DATE',
       u'AIRPORT_THRU_DATE', u'AIRPORT_IS_CLOSED', u'AIRPORT_IS_LATEST',
       u'Unnamed: 28'],
      dtype='object')

In [130]:
merged_df = merged_df[[u'Code', u'CARRIER', u'MONTH', u'DAY_OF_WEEK', u'DISTANCE', u'DEP_DELAY', u'AIR_TIME',
       u'NUMBER_OF_FLIGHTS', u'TAXI_IN', u'ARR_DELAY', u'TAXI_OUT'
       ]]

KeyError: "[u'Code' u'CARRIER' u'MONTH' u'DAY_OF_WEEK' u'DISTANCE' u'DEP_DELAY'\n u'AIR_TIME' u'NUMBER_OF_FLIGHTS' u'TAXI_IN' u'ARR_DELAY' u'TAXI_OUT'] not in index"

In [131]:
merged_df = merged_df.round()

In [132]:
merged_df.to_csv('flights_parcoords.csv', index=False)

In [133]:
me

NameError: name 'me' is not defined